@media screen and (max-width:799px) {
    /* #header
    {
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    

    } */
   #navbar
   {
    display:flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
    justify-content: flex-start;
        align-items: flex-start;
        /* top:0;
        right:-300px;
        height: 100vh;
        width:300px; */
        box-shadow: 0px 40px  60px black;
        /* padding:80px 0 0 40px; */
   }
   #navbar li {
    margin-bottom: 25px;
   }
    #mobile{
    display:flex;
    align-items: center;
    
} 
   @media screen and (min-width:768px)
   {

   }
   @media screen and (min-width:1168px) {
       
   }
}