body{
    /* width:100%; */
    font-family:candara;
    /* margin:0; */
    /* padding:0; */
    scroll-padding-top:2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;

    text-decoration: none;


    
}
#product-1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    
    flex-wrap: wrap;
}
#header{
    display:flex;
      align-items:center; 
     justify-content:space-between; 
      padding:12px 60px;  
    background-color:white;
    box-shadow: 0 5px 15p rgba(0, 0, 0, 0.06);
    z-index:999;
    position: sticky;
    top:0;
    left:0;
    border-color:pink ;
     
    

}
#navbar{
    display:flex;
    align-items: center;
    justify-content: center;
}
#navbar li{
    list-style: none;
    padding:0 20px;
    position: relative;
}
#navbar li a{
    text-decoration:none;
    font-size:16px;
    font-weight:600;
    font-size:1.2rem;
    color:black;
    transition: 0.3s,ease;
}
#navbar li a:hover,
#navbar li a.active{
    color:#088178;
}
#navbar li a.active::after,
#navbar li a:hover::after{
    content:"";
    width:30%;
    height:2px;
    background: #088178;
    position: absolute;
    bottom:-4px;
    left:20px;

}
#hero{
    background-image: url("shoppy.webp");
    height:90vh;
    width:100%;
    background-size: cover;
    margin-top:0px;
    background-position: top 25% right;
    padding:0 80px;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
#hero h1{
    font-size: 3rem;
}
.trade {
    padding-bottom: 5px;
}
.abc{
    flex-direction: column;
    height:150px;
    
}
.bcd {
    display:flex;
    flex-direction: column;
   
}
#hero h3{
    padding-bottom:-1rem;
}
#hero h1{
    color:#088178;
}
#hero button{
    padding:5px 20px;
border-radius:3rem;
    color:#088178;
    border-color: #088178;
    font-style:inherit;
    font-weight:700;
    font-size:15px;
    
}
#hero button:hover{
    cursor:pointer;
    
    
     box-shadow: 0 0 5px black, 0 0 10px black , 0 0 10px black ;

}
.section-p1{
    padding:40px 30px;
    

}
#feature{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#feature .fe-box{
    display:inline-block;
    width:200px;
    box-shadow:20px 20px 10px black;
      border: 1px solid pink;
      border-radius: 5px;  
    
}
#feature .fe-box:hover{
    box-shadow:20px 20px 20px gainsboro ;

}
.pro{
    flex-direction: column;
    padding:0px  0px;
}
#product-1{
    text-align: center;
}
#product-1 .pro{
width:23%;
min-width:250px;
padding:10px 12px;
border: 1px solid #cce7d0;
border-radius:25px;
cursor: pointer;
box-shadow: 10px 10px 10px grey ;
margin:0px 0px;
transition: 0.2s ease;
margin-left:0px;
position: relative;
}
#product-1 .pro:hover{
    box-shadow: 10px 10px 10px black;

}
#product-1 .pro img{
    width:100%;
    border-radius: 20px;
}
#product-1 h2{
    margin-top:0px;
}
#product-1 .fas fa-star{
    margin-top:0px;
}

#product-1 .pro .des span{
    color:#606063;
    font-size:20px;
}
#product-1 .pro .des i{
    margin-top:0px;
    color:orange;
    font-size: 20px;
}
#product-1 h3{
    margin-top:0px;
    color:#088178;
    font-size:25px;
}
#product-1 .pro .cart{
    width:35px;
    height: 38px;
    line-height: 40px;
    border-radius: 50px;

    background-color: #e8f6ea;
    font-weight: 500;
    color:#088178;
     border:1px solid #e8f6ea;
     position: absolute;
     bottom:0px;
     left:125px;
     
     
}
#product-1 h1{
    font-size:70px;
    margin-bottom:0px;
}
#product-1 p{
    margin-top: 0px;
    color:#088178;
    font-size:20px;
}
#banner{
    display: flex;
     flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url(b2.webp);
    width:100%;
    height: 40vh;
    /* color:white; */
    background-size: cover;
    background-position: center;
    text-decoration: none;
    list-style: none;
    
}
#banner h1{
    color:#fff;
    font-size: 30px;
    
}
#banner h1 span{
    color:#088178;
}
#banner h3{
    color:white;
    font-size: 25px;
    margin-bottom: 0px;
    text-decoration: none;
    list-style: none;
}
#banner button{
padding:12px;
font-size:15px;
border-radius: 15px;
border:1px solid white;

}
#sm-banner
{
    display: flex;
    flex-wrap: wrap;
}
 #mobile{
    display:none;
    align-items: center;

} 



#banner button:hover{
    background-color: #088178;
    color:#fff;
    /* border-radius: 20px; */
    text-decoration: none;
    list-style: none;
    


}
#sm-banner .banner-box{
    display: flex;
     flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: flex-start;
    background-image: url("1.jpg");
   width: 100vw;
   max-width: 500px;
   /* height: 50vh; */
    
    /* color:white; */
    background-size: cover;
    background-position: center;
    padding:40px;
    border:4px solid white;
    box-shadow: 10px 10px 10px grey;
}
#sm-banner .banner-box2{
    background-image: url("3.jpg");

}
#sm-banner{
    display: flex;
    justify-content: space-between;
    
}
#sm-banner h3{
    color:white;
    font-size: 25px;
    font-weight: 400;margin-bottom: 0px;

}
#sm-banner h1{
    color:white;
    font-size: 40px;
    font-weight: 800;margin-bottom: 0px;
    margin-top: 0px;

}
#sm-banner span{

    color:white;
    font-size: 20px;
    font-weight: 500;margin-bottom: 20px;

}
 #sm-banner button{
    padding:10px;
    
     border:1px solid white; 
    background-color: orange;
    border-radius: 12px;
}
#sm-banner .banner-box:hover button{
    background-color: #088178;
    border:1px solid #088178;
} 
/* .white{
    color:#e8f6ea;
} */
#newsletter{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url("blue.png");
    background-repeat: no-repeat;
    background-position: 20% 30%;
    background-color:#041e42;
    margin-top:40px;
}
#newsletter h3{
    font-size: 28px;
    font-weight: 700;
    color:white;
    padding-left:190px;
}
#newsletter p{
    font-size: 18px;
    font-weight: 600;
    color:#818ea0;
    padding-left:190px;
}
#newsletter p span{
    color:orange;
}
#newsletter input{
    height:3.125rem;
    padding:0 1.25em;
    font-size: 14px;
    width:100%;
    border:1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius:0 ;
    border-bottom-right-radius: 0;
}
#newsletter .form{
    display: flex;
    
padding-right:100px;

width:30%;
}
#newsletter  button{
    background-color: #088178;
    color:white;
    white-space: nowrap;
    border-top-left-radius:0 ;
    border-bottom-left-radius: 0;
}
footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .col{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 20px;
}
footer a{
    text-decoration: none;
    font-size:15px;
    margin-bottom: 20px;
    color:black;
}
/* .copyright{
    align-items: center;
    justify-content: center;
    margin-left:450px;
    font-weight: 300px;
    margin-top:5px;
} */
#page-header{
    background-image: url("shopp.jpg");
    /* /* background-repeat:no-repeat; */
    width:100%;
    height:50vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:14px;
    
}
#page-header h1{
    color:white;
    font-size: 60px;
}
#page-header p{
    color:white;
    font-size: 30px;
margin-top:-55px;

}
#page-header p strong{
    color:#088178;
}
#pagination{
    text-align: center;
}
#pagination a{
    text-decoration: none;
    background-color: #088178;
    padding:10px 15px;
    border-radius:4px;
    color:#fff;
    font-weight: 600;
    font-size: 18px;
}
#prodetails .single-pro-img{
    width:40%;
    margin-right: 50px;
}
#prodetails{
    display: flex;
    margin-top: 20px;
}
#prodetails .single-prodetails{
    width:50%;
    padding-top: 30px;
}
#prodetails .single-prodetails h4{
    padding:40px 0 20px 0;
}
#prodetails .single-prodetails h3{
    font-size:26px;
}
#prodetails .single-prodetails select{
    display: block;
    padding:5px 10px;
    margin-bottom: 10px;
}
#prodetails .single-prodetails input{
    width: 40px;
    height:30px;
    padding-left: 10px;
    font-size:14px;
    margin-right: 10px;
}
#prodetails .single-prodetails button{
    background-color: #088178;
    color:#fff;
    border: 1px solid #088178;
    height:40px;
    width:110px;

}
#prodetails .single-prodetails h3{
    /* line-height: 25px; */
    margin-bottom:10px;
}
.copyright h4{
    display: flex;
    justify-content: flex-start;
    text-align: center;
    
}
#pageheader{
    background-image: url("contact.jpg");
    /* /* background-repeat:no-repeat; */
    width:100%;
    height:45vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding:14px;
    
}
#pageheader h1{
    color:white;
    font-size: 60px;
}
#pageheader p{
    color:white;
    font-size: 30px;
margin-top:-55px;

}
/* #pageheader p strong{
    color:#088178;
} */
#contact-details{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
#contact-details .details{
    width:40%;
}
#contact-details .details span,
#form-details form span{
    font-size: 20px;
    
}
#contact-details .details li{
    list-style: none;
    display: flex;
    padding:10px 0;
}
#contact-details .details li i{
    font-size: 14px;
    padding-right: 22px;
}
#contact-details .details li p{
    margin: 0;
    font-size: 18px;
    color:grey;
}
#contact-details .map{
    width:45%;
    height:350px;
}
#contact-details .map iframe{
    width:100%;
    height: 100%;
}
#form-details form{
    width:45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#form-details form  input,
#form-details form textarea{
    width: 100%;
    padding:12px 15px;
    outline: none;
    margin-bottom: 20px;
    border:1.3px solid #088178 ;

}
#form-details form button{
    background-color: #088178;
    color:#fff;
    padding:15px 20px;
    font-size: 20px;
}
#form-details .people div{
    padding-bottom: 25px;
    display: flex;
    align-items: flex-start;
}
#form-details .people div img{
    width:65px;
    height: 65px;
    object-fit: cover;
    margin-right: 15px;
}
#form-details .people div p{
    margin:0;
    font-size:13px;
    line-height:25px;
}
#form-details .people div p span{
    display: block;
    font-size: 16px;
    font-weight: 600;
    color:black;
}
#form-details{
    display:flex;
    justify-content: space-between;
    margin:30px;
    padding:80px;
    border:1px solid white;

}
#cart table{
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
#cart table img{
    width:70px;
}
#cart table td:nth-child(1){
    width:100px;
    text-align: center;
}
#cart table td:nth-child(2){
    width:150px;
    text-align: center;
}
#cart table td:nth-child(3){
    width:250px;
    text-align: center;
}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6){
    width:150px;
    text-align: center;
}
#cart table td:nth-child(5) input{
    width: 70px;
    padding:10px 5px 10px 15px;
}
#cart table thead{
    border:1px solid #e2e9e1;
    border-left: none;
    border-right: none;
}
#cart table thead td{
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    padding:18px 0;
}
#cart table tbody tr td{
    padding-top: 15px;
}
#cart table tbody tr{
    font-size: 15px;
}
#cart-add{
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
#coupon{
    width:50%;
    margin-bottom: 30px;
}
#coupon h2,
#subtotal{
    padding-bottom: 15px;
}
#coupon input{
    padding:10px 20px;
    outline: none;
    width:60%;
    margin-right: 10px;
    border:1px solid wheat;
}
#coupon button,
#subtotal button{
    background-color: #088178;
    color:#fff;
    padding:10px 20px;
}
#subtotal{
    width:50%;
    margin-bottom: 30px;
    border:1px solid wheat;
    padding: 20px;
    /* margin-right:10px; */
}
#subtotal table{
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
    
}
#subtotal table td{
    width:50%;border:1px solid wheat;
    padding:10px;font-size: 17px;

}
#cart{
    overflow-x:auto;
}